#search {
  /* background: #191919; */
  /* color: #fff; */
  padding: 0;
  max-width: 40%;
  margin: auto;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-style: italic;
  vertical-align: middle;
  margin: 50px auto;
}

/*  */
#random {
  background: #191919;
  padding-bottom: 20px;
}

button {
    font-weight: bold ;
    background: #FFF056;
    height: 35px;
    border-radius: 6px;
    border: #191919 solid 2px;
}

input {
  border-radius: 6px;
}

body {
  background: #DFE2DB;
}
/* i {
  line-height: 30px;
} */
.para {
  max-width: 50%;
  padding: 0;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  margin: 5px auto;
  /* height: 1px; */
  width: 50%;
  padding: 3px;
  border-radius: 4px;
  /* border:  */
  background: #FDF8BC;
  /* font-weight: 800; */
}
a , a:hover{
  text-decoration: none;
  color:inherit;
}
